@use '../abstracts' as *;

.sign-up-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);

  @include tablet {
    gap: var(--spacing-200);
  }

  @include desktop {
    gap: var(--spacing-300);
  }
}
