.sign-up-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);

  @media (width >= 768px) {
    gap: var(--spacing-200);
  }

  @media (width >= 1440px) {
    gap: var(--spacing-300);
  }
}
