@use '../abstracts' as *;

.success-message {
  display: flex;
  min-height: 100vh;
  padding: 9.3125rem var(--spacing-300) 4.375rem;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-400);
  background-color: var(--color-white);
  color: var(--color-blue-800);

  &[hidden] {
    display: none;
  }

  &__title {
    @include text-preset-1-mobile;
  }

  &__description {
    @include text-preset-2-regular;

    margin-block-end: auto;
  }

  &__email {
    @include text-preset-2-bold;
  }

  &__button {
    align-self: stretch;
  }
}
