@use '../abstracts' as *;

.text-input {
  display: flex;
  flex-direction: column;

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include text-preset-3;
  }

  &__label {
    color: var(--color-blue-800);
    margin-block-end: var(--spacing-100);
  }

  &__error {
    &[hidden] {
      display: none;
    }

    color: var(--color-red);
  }

  &__input {
    @include text-preset-2-regular;

    padding: calc(var(--spacing-200) - 1px) var(--spacing-300);
    border: 1px solid var(--color-grey);
    border-radius: var(--spacing-100);
    color: var(--color-grey);
    caret-color: var(--color-blue-800);

    &:focus-visible {
      border-color: var(--color-blue-800);
      outline: none;
      color: var(--color-blue-800);
    }

    &:-webkit-autofill {
      background: transparent !important;
      box-shadow: 0 0 0 1000px transparent inset !important;
      -webkit-text-fill-color: inherit !important;
      color: inherit !important;
    }

    &:-moz-autofill {
      background-color: transparent !important;
    }

    &--invalid {
      background-color: var(--color-red-100);
      border-color: var(--color-red);
      color: var(--color-red);
      caret-color: var(--color-red);

      &:focus-visible {
        border-color: var(--color-red);
        color: var(--color-red);
      }

      &:-webkit-autofill {
        background: transparent !important;
        box-shadow: 0 0 0 1000px var(--color-red-100) inset !important;
        -webkit-text-fill-color: var(--color-red) !important;
        color: var(--color-red) !important;
      }
    }
  }
}
