/* Fonts */

$fonts: (
  400: 'Roboto-Regular',
  700: 'Roboto-Bold',
);

@each $weight, $file in $fonts {
  @font-face {
    font-family: Roboto;
    font-weight: $weight;
    font-style: normal;
    src: url('../../assets/fonts/Roboto/#{$file}.woff2') format('woff2');
    font-display: swap;
  }
}
