@use '../abstracts' as *;

.page {
  min-height: 100vh;
  background-color: var(--color-blue-700);

  &__content {
    position: relative;
    max-width: 33rem;
    margin: 0 auto;
  }

  @include tablet {
    &__content {
      display: grid;
      max-width: 100%;
      min-height: 100vh;
      place-items: center;

      > * {
        grid-area: 1 / 1; // overlay all direct children (sign-up + success-message)
      }
    }
  }
}
